@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #181930;
}
.chart-container {
  display: block;
  box-sizing: border-box;
  width: 600px;
  align-self: center;
}
